{% extends 'base.html.twig' %}

{% block body %}
<div class="container">
    <div class="row">
        <div class="col-md-10 col-md-offset-1">
            <div class="panel panel-default">
                <div class="panel-heading">Dashboard</div>

                <div class="panel-body">
                    <form action="#" id="searchForm">
                      <div class="form-group col-sm-10">
                        <input type="text" class="form-control" id="search" placeholder="Search...">
                      </div>
                      <div class="form-group col-sm-4">
                        <label for="fromDate">From</label>                
                        <div class='input-group date' id='datetimepickerFrom'>
                            <input type='text' class="form-control" />
                            <span class="input-group-addon">
                                <span class="glyphicon glyphicon-calendar"></span>
                            </span>
                        </div>
                      </div>
                      <div class="form-group col-sm-4">
                        <label for="toDate">To</label>
                        <div class='input-group date' id='datetimepickerTo'>
                            <input type='text' class="form-control" />
                            <span class="input-group-addon">
                                <span class="glyphicon glyphicon-calendar"></span>
                            </span>
                        </div>
                      </div>
                      <button type="submit" class="btn btn-default"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
        <script type="text/javascript">
            $(function () {
                $('#datetimepickerFrom').datetimepicker();
                $('#datetimepickerTo').datetimepicker();
            });

            $(document).ready(function(){
                $('#searchForm').on('submit', function(e){
                    e.preventDefault();
                    console.log("test");
                });
            });
        </script>
{% endblock %}
